#!/usr/bin/env bash

# Source project configuration file
config_file=src/config/example-project.config
source $config_file

# Define parameters
adapter=AGATCGGAAGAGC
FASTQC_DIR=$FASTQ_NO_ADAPTER/Quality_FastQC
if [ ! -d $FASTQC_DIR  ] ; then mkdir $FASTQC_DIR ; fi
script_name=01_fastq_processing.bash

# Run on all samples
for sample in ${LIST_SAMPLES[@]} ; do
	echo $sample
	
	# Parameters for the script
	fastq_with_adapter_prefix=$FASTQ_WITH_ADAPTER/${sample}
	fastq_no_adapter_prefix=$FASTQ_NO_ADAPTER/${sample}
	
	# Run script
	bash $PROJ_SRC_CORE/${script_name} -c $config_file --fastq_with_adapter_prefix $fastq_with_adapter_prefix --fastq_no_adapter_prefix $fastq_no_adapter_prefix --fastqc_dir $FASTQC_DIR --adapter $adapter

done


