#!/usr/bin/env bash

# Source project configuration file
config_file=src/config/example-project.config
source $config_file

## MAPPING ON THE FIRST GENOME (B6 — DOMESTICUS)
# Define parameters
output_folder=${MAPPING}/1_domesticus
genome_name="B6"
genome=$B6_GENOME
intervals=$B6_INTERVALS
if [ ! -d $output_folder ] ; then mkdir -p $output_folder ; fi
script_name=02_mapping.bash

# Run on all samples
for sample in ${LIST_SAMPLES[@]} ; do
	echo $sample

	# Parameters for the script
	fastq1=$FASTQ_NO_ADAPTER/${sample}-R1.no_adapter.fastq.gz
	fastq2=$FASTQ_NO_ADAPTER/${sample}-R2.no_adapter.fastq.gz
	output_prefix=$output_folder/${sample}

	# Run script	
	bash $PROJ_SRC_CORE/${script_name} -c $config_file -f1 $fastq1 -f2 $fastq2 -o $output_prefix -g $genome -b $intervals

done


## MAPPING ON THE FIRST GENOME (B6 — DOMESTICUS)
# Define parameters
output_folder=${MAPPING}/2_castaneus
genome_name="CAST"
genome=$CAST_GENOME
intervals=$CAST_INTERVALS
if [ ! -d $output_folder ] ; then mkdir -p $output_folder ; fi
script_name=02_mapping.bash

# Run on all samples
for sample in ${LIST_SAMPLES[@]} ; do
	echo $sample

	# Parameters for the script
	fastq1=$FASTQ_NO_ADAPTER/${sample}-R1.no_adapter.fastq.gz
	fastq2=$FASTQ_NO_ADAPTER/${sample}-R2.no_adapter.fastq.gz
	output_prefix=$output_folder/${sample}

	# Run script
	bash $PROJ_SRC_CORE/${script_name} -c $config_file -f1 $fastq1 -f2 $fastq2 -o $output_prefix -g $genome -b $intervals

done

