#!/usr/bin/env bash

# Source project configuration file
config_file=$(pwd)/src/config/example-project.config
source $config_file


## VARIANT-CALLING ON THE FIRST GENOME (B6 — DOMESTICUS)
# Define parameters
output_folder=${SNPCALL}/1_domesticus
output_prefix=$output_folder/Joint_variant_calling
genome_name="B6"
genome=$B6_GENOME
true_INDELs=$GOLDSTANDARDS/CAST_EiJ.mgp.v5.indels.dbSNP142.normed_chr.vcf.gz
untrue_INDELs=$GOLDSTANDARDS/mgp.v5.merged.indels.dbSNP142.normed_chr.vcf.gz
true_SNPs=$GOLDSTANDARDS/CAST_EiJ.mgp.v5.snps.dbSNP142_chr.vcf.gz
untrue_SNPs=$GOLDSTANDARDS/mgp.v5.merged.snps_all.dbSNP142_chr.vcf.gz
script_name=03b_variant_calling.bash

# The array of gvcf should contain several raw.g.vcf files if several samples:
# array_gvcf=(
# ${SNPCALL}/1_domesticus/example1.raw_variants.g.vcf
# ${SNPCALL}/1_domesticus/example2.raw_variants.g.vcf
# ${SNPCALL}/1_domesticus/example3.raw_variants.g.vcf
# ${SNPCALL}/1_domesticus/example4.raw_variants.g.vcf
# )
# list_gvcf=`echo $array_gvcf | tr " " ","`

# For this example, only one sample => array has only one element
array_gvcf=(${SNPCALL}/1_domesticus/F2-example.raw_variants.g.vcf)
list_gvcf=`echo $array_gvcf | tr " " ","`

bash $PROJ_SRC_CORE/$script_name -c $config_file -l $list_gvcf -o $output_prefix -g $genome -ts $true_SNPs -us $untrue_SNPs -ti $true_INDELs -ui $untrue_INDELs


## VARIANT-CALLING ON THE SECOND GENOME (CAST — CASTANEUS)
# Define parameters
output_folder=${SNPCALL}/2_castaneus
output_prefix=$output_folder/Joint_variant_calling
genome_name="CAST"
genome=$CAST_GENOME
true_INDELs=$GOLDSTANDARDS/CAST_EiJ.mgp.v5.indels.dbSNP142.normed_chr.vcf.gz
untrue_INDELs=$GOLDSTANDARDS/mgp.v5.merged.indels.dbSNP142.normed_chr.vcf.gz
true_SNPs=$GOLDSTANDARDS/CAST_EiJ.mgp.v5.snps.dbSNP142_chr.vcf.gz
untrue_SNPs=$GOLDSTANDARDS/mgp.v5.merged.snps_all.dbSNP142_chr.vcf.gz
script_name=03b_variant_calling.bash

# The array of gvcf should contain several raw.g.vcf files if several samples:
# array_gvcf=(
# ${SNPCALL}/2_castaneus/example1.raw_variants.g.vcf
# ${SNPCALL}/2_castaneus/example2.raw_variants.g.vcf
# ${SNPCALL}/2_castaneus/example3.raw_variants.g.vcf
# ${SNPCALL}/2_castaneus/example4.raw_variants.g.vcf
# )
# list_gvcf=`echo $array_gvcf | tr " " ","`

# For this example, only one sample => array has only one element
array_gvcf=(${SNPCALL}/2_castaneus/example.sorted.markedDup.only_mapped_fragments.only_primary.onIntervals.raw_variants.g.vcf)
list_gvcf=`echo $array_gvcf | tr " " ","`

bash $PROJ_SRC_CORE/$script_name -c $config_file -l $list_gvcf -o $output_prefix -g $genome -ts $true_SNPs -us $untrue_SNPs -ti $true_INDELs -ui $untrue_INDELs


