#!/usr/bin/env bash

# Source project configuration file
config_file=$(pwd)/src/config/example-project-F2.config
source $config_file

# Define parameters
vcf_file=${SNPCALL}/2_castaneus/Joint_variant_calling.raw_variants.vcf
vcf_file=$DATA/5_HFM1/Sequencing_2/03_SNP_Calling/02_castaneus/Joint_variant_calling_SEQ1_AND_SEQ2.raw_variants.vcf
echo -e "#### ATTTENTION TEMPORARY VCF_FILE!!!!"
echo -e "######################################"
echo -e "######################################"
echo -e "######################################"
bed_file=$CAST_INTERVALS
output_genotype_hotspots=$HOTSPOT_GENOT/Main_genotype_by_hotspot.txt
output_origin_SNPs=$HOTSPOT_GENOT/Origin_SNPs.txt
tmp_dir=$HOTSPOT_GENOT/tmp
PG1="CAST"
PG2="DOM"
PG2_main="B6"
PG2_introgressed="DBA2"
script_name=04a_genotype_hotspots.bash

# Run script
bash $PROJ_SRC_CORE/$script_name -c $config_file -g $output_genotype_hotspots -o $output_origin_SNPs -v $vcf_file -b $bed_file -t $tmp_dir --PG1 $PG1 --PG2 $PG2 --PG2_main $PG2_main --PG2_introgressed $PG2_introgressed


