#!/usr/bin/env bash

# A configuration file to fill in according to the project and to source 
# before running the src scripts.

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #
####                             GENERAL PATHS                             ####
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #

### External paths (genomes downloaded, tools installed, hotspots folder)
DATA=/beegfs/data/gautier
HOME=/beegfs/home/gautier
GENOMES=$DATA/0_Genomes
TOOLS=$HOME/4_Tools
HOTSPOTS=$DATA/1_Hotspots

### Configured for the example given
PROJECT_NAME=example-detect-recombinants-in-F1
PROJ_SRC=$(pwd)/src
PROJ_SRC_CORE=$PROJ_SRC/core

## Export Paths of necessary tools (if not already in ~/.bashrc)
source src/config/export-paths.config


# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #
####                           PROJECT LOCATION                            ####
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #

## OUTPUT FOLDERS
## ~~~~~~~~~~~~~~

PROJECT=$DATA/$PROJECT_NAME

FASTQ=$PROJECT/1_FastQ
FASTQ_WITH_ADAPTER=$FASTQ/1_With_Adapter
FASTQ_NO_ADAPTER=$FASTQ/2_No_Adapter

MAPPING=$PROJECT/2_Mapping
SNPCALL=$PROJECT/3_SNP_Calling

RECOMBINANTS=$PROJECT/4_Recombinant_Identification
B6_GENOT=$RECOMBINANTS/1_B6_Genotyping
B6_RECOMB=$RECOMBINANTS/2_B6_Recombinants
CAST_GENOT=$RECOMBINANTS/3_CAST_Genotyping
CAST_RECOMB=$RECOMBINANTS/4_CAST_Recombinants
FINAL_RECOMBINANTS=$RECOMBINANTS/5_Final_Recombinants

ANALYSIS=$PROJECT/5_Analyses_of_Recombinants
FRAG_DATA=$ANALYSIS/1_Fragments_Dataset
RECOMB_DATA=$ANALYSIS/2_Recombinants_and_False_Positives_Dataset
RECOMB_STATS=$ANALYSIS/3_General_Statistics
DBGC_ANAL=$ANALYSIS/4_dBGC_Analysis
GBGC_ANAL=$ANALYSIS/5_gBGC_Analysis



## CREATION OF OUTPUT FOLDERS
## ~~~~~~~~~~~~~~~~~~~~~~~~~~

if [ ! -d $PROJECT ] ; then mkdir $PROJECT ; fi
if [ ! -d $FASTQ ] ; then mkdir $FASTQ ; fi
if [ ! -d $FASTQ_WITH_ADAPTER ] ; then mkdir $FASTQ_WITH_ADAPTER ; fi
if [ ! -d $FASTQ_NO_ADAPTER ] ; then mkdir $FASTQ_NO_ADAPTER ; fi

if [ ! -d $MAPPING ] ; then mkdir $MAPPING ; fi
if [ ! -d $SNPCALL ] ; then mkdir $SNPCALL ; fi

if [ ! -d $RECOMBINANTS ] ; then mkdir $RECOMBINANTS ; fi
if [ ! -d $B6_GENOT ] ; then mkdir $B6_GENOT ; fi
if [ ! -d $CAST_GENOT ] ; then mkdir $CAST_GENOT ; fi
if [ ! -d $B6_RECOMB ] ; then mkdir $B6_RECOMB ; fi
if [ ! -d $CAST_RECOMB ] ; then mkdir $CAST_RECOMB ; fi
if [ ! -d $FINAL_RECOMBINANTS ] ; then mkdir $FINAL_RECOMBINANTS ; fi

if [ ! -d $ANALYSIS ] ; then mkdir $ANALYSIS ; fi
if [ ! -d $FRAG_DATA ] ; then mkdir $FRAG_DATA ; fi
if [ ! -d $RECOMB_DATA ] ; then mkdir $RECOMB_DATA ; fi
if [ ! -d $RECOMB_STATS ] ; then mkdir $RECOMB_STATS ; fi
if [ ! -d $DBGC_ANAL ] ; then mkdir $DBGC_ANAL ; fi
if [ ! -d $GBGC_ANAL ] ; then mkdir $GBGC_ANAL ; fi




# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #
####                            REFERENCE FILES                            ####
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #

## GENOME REFERENCE FILES
## ~~~~~~~~~~~~~~~~~~~~~~

# Files - M. m. domesticus
B6_FOLDER=$GENOMES/Mus_musculus/domesticus
B6_GENOME=$B6_FOLDER/01_Index/GRCm38_68.fa
B6_CHROM_SIZES=$B6_FOLDER/01_Index/GRCm38_68.chrom.sizes
B6_INTERVALS=$B6_FOLDER/02_Baits/baits_mm10_intervals.bed
B6_BAITS_FILE=$B6_FOLDER/02_Baits/baits_mm10.bed

# Files - M. m. castaneus
CAST_FOLDER=GENOMES/Mus_musculus/castaneus
CAST_GENOME=$CAST_FOLDER/01_Index/CAST_EiJ.chromosomes.unplaced.gt2k.fa
CAST_BAITS_FILE=$CAST_FOLDER/02_Baits/baits_CAST_EiJ.bed
CAST_INTERVALS=$CAST_FOLDER/02_Baits/baits_CAST_EiJ_intervals.bed

# Information shared between M. m. domesticus and M. m. castaneus
BAITS_CORRESP=$GENOMES/Mus_musculus/targets_info/baits_correspondance_location_Dom_Cast.txt
KNOWN_INFO_TARGETS=$GENOMES/Mus_musculus/targets_info/knownInfo.txt


## OTHER USUALLY USEFUL FILES
## ~~~~~~~~~~~~~~~~~~~~~~~~~~

HOTSPOT_CLASSES=$HOTSPOTS/1_Hotspot_categories/Hotspot_categories.txt



# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #
####                           SUBMISSION FILES                            ####
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #

PROJ_SUB=$PROJECT/0_Metrics/sub
PROJ_LOG=$PROJECT/0_Metrics/log
PROJ_TMP=$PROJECT/0_Metrics/tmp

if [ ! -d $PROJ_SUB ] ; then mkdir -p $PROJ_SUB ; fi
if [ ! -d $PROJ_LOG ] ; then mkdir -p $PROJ_LOG ; fi
if [ ! -d $PROJ_TMP ] ; then mkdir -p $PROJ_TMP ; fi



# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #
####                             SAMPLE NAMES                              ####
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #

# Indexed
LIST_SAMPLES=(
			  example
			  )

