#!/usr/bin/env bash

# Source project configuration file
config_file=src/config/example-project.config
source $config_file

# Define parameters
adapter=AGATCGGAAGAGC
FASTQC_DIR=$FASTQ_NO_ADAPTER/Quality_FastQC
if [ ! -d $FASTQC_DIR  ] ; then mkdir $FASTQC_DIR ; fi
script_name=01_fastq_processing.bash

# Run on all samples
for sample in ${LIST_SAMPLES[@]} ; do
	echo $sample
	
	# Parameters for the script
	fastq_with_adapter_prefix=$FASTQ_WITH_ADAPTER/${sample}
	fastq_no_adapter_prefix=$FASTQ_NO_ADAPTER/${sample}

	# Write submission file
	SUB_file=$PROJ_SUB/${script_name}.${sample}.sub

	echo "#\!/bin/bash" > $SUB_file
	echo "#SBATCH --job-name=${sample}" >> $SUB_file
	echo "#SBATCH --partition=normal" >> $SUB_file
	echo "#SBATCH --time=24:00:00" >> $SUB_file
	echo "#SBATCH --cpus-per-task=1" >> $SUB_file
	echo "#SBATCH --mem=2G" >> $SUB_file
	echo "#SBATCH --output=${PROJ_LOG}/${script_name}.${sample}.out" >> $SUB_file 
	echo "#SBATCH --error=$PROJ_LOG/${script_name}.${sample}.err" >> $SUB_file

	echo bash $PROJ_SRC_CORE/${script_name} -c $config_file --fastq_with_adapter_prefix $fastq_with_adapter_prefix --fastq_no_adapter_prefix $fastq_no_adapter_prefix --fastqc_dir $FASTQC_DIR --adapter $adapter - sub $SUB_file >> $SUB_file

	# Submit job
	sbatch $SUB_file

done


