#!/usr/bin/env bash

# Source project configuration file
config_file=$(pwd)/src/config/example-project.config
source $config_file

## MAPPING ON THE FIRST GENOME (B6 — DOMESTICUS)
# Define parameters
output_folder=${MAPPING}/1_domesticus
if [ ! -d $output_folder ] ; then mkdir -p $output_folder ; fi
genome_name="B6"
genome=$B6_GENOME
intervals=$B6_INTERVALS
script_name=02_mapping.bash

# Run on all samples
for sample in ${LIST_SAMPLES[@]} ; do
	echo $sample

	# Parameters for the script
	fastq1=$FASTQ_NO_ADAPTER/${sample}-R1.no_adapter.fastq.gz
	fastq2=$FASTQ_NO_ADAPTER/${sample}-R2.no_adapter.fastq.gz
	output_prefix=$output_folder/${sample}

	# Write submission file
	SUB_file=$PROJ_SUB/${script_name}.${genome_name}.${sample}.sub

	echo "#\!/bin/bash" > $SUB_file
	echo "#SBATCH --job-name=${sample}" >> $SUB_file
	echo "#SBATCH --partition=normal" >> $SUB_file
	echo "#SBATCH --time=24:00:00" >> $SUB_file
	echo "#SBATCH --cpus-per-task=4" >> $SUB_file
	echo "#SBATCH --mem=20G" >> $SUB_file
	echo "#SBATCH --output=${PROJ_LOG}/${script_name}.${genome_name}.${sample}.out" >> $SUB_file 
	echo "#SBATCH --error=$PROJ_LOG/${script_name}.${genome_name}.${sample}.err" >> $SUB_file

	echo bash $PROJ_SRC_CORE/${script_name} -c $config_file -t 4 -f1 $fastq1 -f2 $fastq2 -o $output_prefix -g $genome -b $intervals --sub $SUB_file >> $SUB_file

	# Submit job
	sbatch $SUB_file

done


## MAPPING ON THE SECOND GENOME (CAST — CASTANEUS)
# Define parameters
output_folder=${MAPPING}/2_castaneus
if [ ! -d $output_folder ] ; then mkdir -p $output_folder ; fi
genome_name="CAST"
genome=$CAST_GENOME
intervals=$CAST_INTERVALS
script_name=02_mapping.bash

# Run on all samples
for sample in ${LIST_SAMPLES[@]} ; do
	echo $sample

	# Parameters for the script
	fastq1=$FASTQ_NO_ADAPTER/${sample}-R1.no_adapter.fastq.gz
	fastq2=$FASTQ_NO_ADAPTER/${sample}-R2.no_adapter.fastq.gz
	output_prefix=$output_folder/${sample}

	# Write submission file
	SUB_file=$PROJ_SUB/${script_name}.${genome_name}.${sample}.sub

	echo "#\!/bin/bash" > $SUB_file
	echo "#SBATCH --job-name=${sample}" >> $SUB_file
	echo "#SBATCH --partition=normal" >> $SUB_file
	echo "#SBATCH --time=24:00:00" >> $SUB_file
	echo "#SBATCH --cpus-per-task=4" >> $SUB_file
	echo "#SBATCH --mem=20G" >> $SUB_file
	echo "#SBATCH --output=${PROJ_LOG}/${script_name}.${genome_name}.${sample}.out" >> $SUB_file 
	echo "#SBATCH --error=$PROJ_LOG/${script_name}.${genome_name}.${sample}.err" >> $SUB_file

	echo bash $PROJ_SRC_CORE/${script_name} -c $config_file -t 4 -f1 $fastq1 -f2 $fastq2 -o $output_prefix -g $genome -b $intervals --sub $SUB_file >> $SUB_file

	# Submit job
	sbatch $SUB_file

done

