#!/usr/bin/env bash

# Source project configuration file
config_file=$(pwd)/src/config/example-project.config
source $config_file


## VARIANT-CALLING ON THE FIRST GENOME (B6 — DOMESTICUS)
# Define parameters
input_folder=${MAPPING}/1_domesticus
output_folder=${SNPCALL}/1_domesticus
if [ ! -d $output_folder ] ; then mkdir $output_folder ; fi
genome_name="B6"
genome=$B6_GENOME
known_INDELs=$GOLDSTANDARDS/mgp.v5.merged.indels.dbSNP142.normed_chr.vcf.gz
known_SNPs=$GOLDSTANDARDS/mgp.v5.merged.snps_all.dbSNP142_chr.vcf.gz
script_name=03a_variant_calling.bash

# Run on all samples
for sample in ${LIST_SAMPLES[@]} ; do
	echo $sample

	# Parameters for the script
	input_file=$input_folder/${sample}.sorted.markedDup.only_mapped_fragments.only_primary.onIntervals.bam
	output_prefix=$output_folder/${sample}.sorted.markedDup.only_mapped_fragments.only_primary.onIntervals

	# Write submission file
	SUB_file=$PROJ_SUB/${script_name}.${genome_name}.${sample}.sub

	echo "#\!/bin/bash" > $SUB_file
	echo "#SBATCH --job-name=${sample}" >> $SUB_file
	echo "#SBATCH --partition=normal" >> $SUB_file
	echo "#SBATCH --time=168:00:00" >> $SUB_file
	echo "#SBATCH --cpus-per-task=1" >> $SUB_file
	echo "#SBATCH --mem=20G" >> $SUB_file
	echo "#SBATCH --output=${PROJ_LOG}/${script_name}.${genome_name}.${sample}.out" >> $SUB_file
	echo "#SBATCH --error=$PROJ_LOG/${script_name}.${genome_name}.${sample}.err" >> $SUB_file

	echo bash $PROJ_SRC_CORE/$script_name -c $config_file -i $input_file -o $output_prefix -n $sample -g $genome -ks $known_SNPs -ki $known_INDELs --sub $SUB_file >> $SUB_file
	
	# Submit job
	sbatch $SUB_file

done


## VARIANT-CALLING ON THE SECOND GENOME (CAST — CASTANEUS)
# Define parameters
input_folder=${MAPPING}/2_castaneus
output_folder=${SNPCALL}/2_castaneus
if [ ! -d $output_folder ] ; then mkdir $output_folder ; fi
genome_name="CAST"
genome=$CAST_GENOME
known_INDELs=$GOLDSTANDARDS/mgp.v5.merged.indels.dbSNP142.normed_chr.vcf.gz
known_SNPs=$GOLDSTANDARDS/mgp.v5.merged.snps_all.dbSNP142_chr.vcf.gz
script_name=03a_variant_calling.bash

# Run on all samples
for sample in ${LIST_SAMPLES[@]} ; do
	echo $sample

	# Parameters for the script
	input_file=$input_folder/${sample}.sorted.markedDup.only_mapped_fragments.only_primary.onIntervals.bam
	output_prefix=$output_folder/${sample}.sorted.markedDup.only_mapped_fragments.only_primary.onIntervals

	# Write submission file
	SUB_file=$PROJ_SUB/${script_name}.${genome_name}.${sample}.sub

	echo "#\!/bin/bash" > $SUB_file
	echo "#SBATCH --job-name=${sample}" >> $SUB_file
	echo "#SBATCH --partition=normal" >> $SUB_file
	echo "#SBATCH --time=168:00:00" >> $SUB_file
	echo "#SBATCH --cpus-per-task=1" >> $SUB_file
	echo "#SBATCH --mem=20G" >> $SUB_file
	echo "#SBATCH --output=${PROJ_LOG}/${script_name}.${genome_name}.${sample}.out" >> $SUB_file
	echo "#SBATCH --error=$PROJ_LOG/${script_name}.${genome_name}.${sample}.err" >> $SUB_file

	echo bash $PROJ_SRC_CORE/$script_name -c $config_file -i $input_file -o $output_prefix -n $sample -g $genome -ks $known_SNPs -ki $known_INDELs --sub $SUB_file >> $SUB_file
	
	# Submit job
	sbatch $SUB_file

done


